In [1]:
# Задание 1**
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [8]:
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [16]:
def clasif (rating_):
    if rating_<=2:
       return 'low_rating'
    if rating_ <=4:
       return 'medium_rating'
    if rating_ >=4.5:
       return 'hight rating'
    
rating = pd.read_csv('ratings.csv')
rating['class'] = rating.rating.apply(clasif)   
rating.head(10)

   userId  movieId  rating   timestamp          class
0       1       31     2.5  1260759144  medium_rating
1       1     1029     3.0  1260759179  medium_rating
2       1     1061     3.0  1260759182  medium_rating
3       1     1129     2.0  1260759185     low_rating
4       1     1172     4.0  1260759205  medium_rating
5       1     1263     2.0  1260759151     low_rating
6       1     1287     2.0  1260759187     low_rating
7       1     1293     2.0  1260759148     low_rating
8       1     1339     3.5  1260759125  medium_rating
9       1     1343     2.0  1260759131     low_rating

In [18]:
# Задание 2
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор, который каждой строке сможет выставить
# географическую принадлежность определенному региону. Т. е. если поисковый запрос
# содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
# Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

# geo_data = {


# 'Центр': ['москва', 'тула', 'ярославль'],

# 'Северо-Запад': ['петербург', 'псков', 'мурманск'],

# 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
# }

# Результат классификации запишите в отдельный столбец region.

In [20]:
keywords = pd.read_csv('keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [23]:
def region_search(geo):                           
    for region in geo_data:                       
        for city in geo_data[region]:             
            if city in geo:                       
                return region
    return 'undefined'

keywords['region'] = keywords['keyword'].apply(region_search)  
keywords.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64